        <div class="fixed-top">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
                <a class="navbar-brand" href="/">My Agile Story</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/heat-transfer">Heat transfer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/process-load">Process Load</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/heat-up">Heat Up</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More About us
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="https://jimmysoftllc.com" target="_blank">JimmySoft LLC</a>
                                <a class="dropdown-item" href="https://embroiderywaresoftware.com" target="_blank">EmbroideryWare</a>
                                <a class="dropdown-item" href="https://www.heatercalc.com" target="_blank">Heater Calc</a>
                                <a class="dropdown-item" href="https://www.buttonbudget.com" target="_blank">Button Budget</a>
                                <a class="dropdown-item" href="https://www.weathermany.com" target="_blank">Weather Many</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>