
<% include partials/header %>
<div class="container-fluid">
    <% include partials/fixed-top %>
    <h2 class="instruction-title"> Developers </h2>
    <li>UserName <%= developer.userName %> </li>
    <li>Password <%= developer.userPassword %> </li>
    Number of projects <%= developer.projectIds.length %>
    <% developer.projectIds.forEach(function(projectId) { %>
    <li>Project ID <%= projectId %> </li>
    <%   }); %>
</div>
<footer class="footer fixed-bottom">
    <h5>Your total heat transfer</h5>
    <div class="myTestResult">
        <div id="total-watts-lost"></div>
    </div>
</footer>
<% include partials/footer %>
