<% include partials/header %>

<body>
    <div class="container-fluid">
        <% include partials/fixed-top %>
        <h2 class="instruction-title">Heat Transfer</h2>
        <p>
            Heat Transfer occurs between a hot source to a colder sink. If there is no temperature difference
            between source and sink no heat transfer will occur.
        </p>
        <p>
            Heat Transfer will increase with an increase in temperature difference between the hot source and
            the colder sink. Heat transfer is very similiar to current in a electical circuit where the the
            temperature difference represents the voltage difference. In an electical circuit no current will
            flow if there is no difference in the voltage.
        </p>
        <img src="../../assets/electrical-current-cartoon.jpg" class="img-fluid" alt="electical current cartoon">
        <p>
            Heat transfer can occur in three ways these are conduction, convection and radiation.
        </p>
        <h3>Conduction</h3>
        <p>
            Conduction occurs when there is direct contact with the heat source and the heat sink. For example if you
            grab a cold can of soda, as shown below, the heat from your hand (heat source) will transfer into
            the can of soda (heat sink).
        </p>
        <img src="../../assets/conduction-cartoon.jpg" class="img-fluid" alt="conduction cartoon">
        <h3>Convection</h3>
        <p>
            Convection occurs when there is colder gas (heat sink) that blows by the heat source. The rate of
            transfer increases with increased velocity of the air.
        </p>
        <img src="../../assets/convection-cartoon.jpg" class="img-fluid" alt="convection cartoon">
        <h3>Radiation</h3>
        <p>
            Radiation transfer occurs when a radiating body (heat source) radiates to a colder sink. The rate
            of transfer increases with increased temperature differences and a higher emissivity of the colder sink surface.
        </p>
        <img src="../../assets/radiation-cartoon.jpg" class="img-fluid" alt="radiation cartoon">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Example multiple select</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </form>
    </div>

    <% include partials/footer %>
