<% include partials/header %>
    <div class="container-fluid">
<% include partials/fixed-top %>
        <h2 class = "instruction-title">Heat Up</h2>
        <p>
            Warm up is the power needed to bring an item to temperature in a desired period of time.
        </p>
        <img src="../../assets/heatup-cartoon.jpg" class="img-fluid" alt="conduction cartoon">
    </div>

<% include partials/footer %>
